<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sukces Rejestracji</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{navbar.html}"></div>

    <h1>Rejestracja przebiegła pomyślnie!</h1>
    <p>Witaj, <span th:text="${user.name}"></span>!</p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <a th:href="@{/register}">Zarejestruj się ponownie</a>
</body>
</html>